.Gif {
    border: 1px solid #eee;
    border-radius: 6px;
    color: #fff;
    display: flex;
    width: 100%;
    margin: 16px;
    padding: 32px;
    flex-direction: column;
    text-decoration: none;
}

.Gif h4 {
    margin: 0;
}

.Gif img {
    object-fit: contain;
}